@using System.Collections
@model Events
@*@{
        ViewData["Title"] = "Create a New Event";

    https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp
    }*@
<h2>Create a New Event</h2>
<form asp-action="Create" class="form-horizontal">
    <div class="row">
        <div class="col-md-4 col-Margins">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" id="Title" class=" form-control" autofocus />

                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Tick if its for a Full Day</label>

                <input type="checkbox" data-toggle="collapse" data-target="#isfulldaymessage" asp-for="IsFullDay" class="form-control checkbox-inline" id="chkFullDay" />

                <div class="alert alert-info  collapse" id="isfulldaymessage">Just add the date fields. The times will be generated from 9-5pm.</div>

                <span asp-validation-for="IsFullDay" class="text-danger"></span>
            </div>

            <div class="form-group" id="datestart">
                <label asp-for="Start" class="control-label"></label>
                @Html.TextBoxFor(model => model.Start, htmlAttributes: new { @class = "form-control DTStart" })

                <span asp-validation-for="Start" class="text-danger"></span>
            </div>

            <div class="form-group" id="dateend">
                <label asp-for="End" class="control-label"></label>
                @Html.TextBoxFor(model => model.End, htmlAttributes: new { @class = "form-control DTEnd" })


                <span asp-validation-for="End" class="text-danger  field-validation-valid"
                      data-valmsg-for="End" data-valmsg-replace="true"></span>




            </div>
        </div>

        <!-- Add clearfix for only the required viewport-->
        <div class="clearfix visible-xs"></div>
        <div class="col-md-4 col-Margins">

            <div class="form-group">

                <label class="control-label">Choose Your Room</label>
                <select asp-for="ResourceId" asp-items="ViewBag.Roomlist" class="form-control">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="ResourceId" class="text-danger"></span>

                <label class="control-label">Show the room diagrams (at the bottom of the page)</label>

                <input type="checkbox" data-toggle="collapse" data-target="#isRoomDiagrammessage" class="form-control" id="chkRoomDiagrammessage" />
            </div>
        </div>

        <!-- Add clearfix for only the required viewport-->
        <div class="clearfix visible-xs"></div>
        <div class="col-md-4 col-Margins">
            <div class="form-group">

                <label class="control-label">Do you want it to repeat daily or weekly?</label>

                <input type="checkbox" data-toggle="collapse" data-target="#isRepeatmessage" class="form-control" id="chkrepeat" />

                <div class="collapse" id="isRepeatmessage">
                    <div class="alert alert-info">Just add many days or how many weeks you want. Weekends will be skipped in the calculation</div>

                    <label class="control-label ">How many Days repeat?</label>

                    <input asp-for="Days" class="form-control" min="0" value="0" />
                    <span asp-validation-for="Days" class="text-danger"></span>


                    <div class="form-group">
                        <label class="control-label">How many Weeks repeat?</label>

                        <input asp-for="Weeks" class="form-control" min="0" value="0" />

                        <span asp-validation-for="Weeks" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create your booking" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>


<div class="collapse alert alert-info" id="isRoomDiagrammessage">
    @await Html.PartialAsync("~/Views/Shared/_carousel.cshtml")
</div>

<div class="schedular" id="calendarrefresh">
    @await Html.PartialAsync("~/Views/Shared/_calendar.cshtml")
</div>


@*<div id="calendar"></div>

    <script src="~/js/SchedularCustom.js"></script>
    <link href="~/css/SchedularCustom.css" rel="stylesheet" />*@



<link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
@section scripts
    {
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script>


        $(document).ready(function() {
            $(".DTStart").datetimepicker({
                format: 'DD-MM-YYYY HH:mm',
                inline: true,
                sideBySide: true,
                toolbarPlacement: 'bottom',
                showClose: true
            });
        });

        $(document).ready(function() {

            //http://eonasdan.github.io/bootstrap-datetimepicker/


            $(".DTEnd").datetimepicker({
                format: 'DD-MM-YYYY HH:mm',
                inline: true,
                sideBySide: true,
                toolbarPlacement: 'bottom',
                showClose: true

            });
        });

        @*     Must run this last so the focus returns to the Title *@
        $(document).ready(function() {
            document.getElementById("Title").focus();
        });
        @*  https://stackoverflow.com/questions/11122268/updating-partial-view-with-jquery-in-asp-net-mvc-c-sharp *@

    </script>
    <script type="text/javascript">
    $(function() {

        $('#DTStart').change(function() {
                alert("function running.");
                $("#calendarrefresh").load(' @await Html.PartialAsync("~/Views/Shared/_calendar.cshtml")');


                @*        });
        alert( "Load was performed." );
        });*@


    </script>

    @*
        <script type="text/javascript">
                        $(document).ready(function () {
                            $("#chkFullDay").on("click", function () {
                                if (document.getElementById('chkFullDay').checked) {

                                    $("#isfulldaymessage").show();

                                } else {

                                    $("#isfulldaymessage").hide();

                                }
                            });
                        });
        </script>*@




}
