@using System.Collections
@model Events
@inject UserManager<ApplicationUser> UserManager
@*https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp
    }*@

<div class="row">
    <div class="col-md-6">

        <h3 class="">
            Create a New Event for @(User.FindFirst("FirstName").Value) @(User.FindFirst("LastName").Value)
        </h3>
    </div>
    <h3 align="right" class="text-muted"> @ViewBag.TodayDate </h3>
</div>

<div class="row col-Margins">
    <form asp-action="Create" class="form-horizontal">

        <div class="col-md-4 ">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" id="Title" class=" form-control" autofocus />

                <span asp-validation-for="Title" class="text-danger"></span>

                @*<label class="control-label">How many students in your class?</label>

                    <input asp-for="StudentNumbers" class="form-control" min="2" value="0" onchange="myFunction(this.value)" />

                        <script>
                            function myFunction(val) {
                                @foreach (var item in ViewBag.Roomlist)
                                {
                                  //  if(item.MaxOccupancy >val )

                                }

                                alert("The input value has changed. The new value is: " + val);
                            }


                        </script>

                        <span asp-validation-for="StudentNumbers" class="text-danger"></span>*@

                <label class="control-label">Choose Your Room</label>



                <select asp-for="ResourceId" asp-items="ViewBag.Roomlist" class="form-control">
                    <option>Please select one</option>
                </select>

                <span asp-validation-for="ResourceId" class="text-danger"></span>

                <label class="control-label">
                    <input type="checkbox" data-toggle="collapse" data-target="#isfulldaymessage" asp-for="IsFullDay" id="chkFullDay" />  Tick if its for a Full Day
                </label>

                <div class="alert alert-info  collapse" id="isfulldaymessage">Just add the date fields. The times will be generated from 9-5pm.</div>

                <span asp-validation-for="IsFullDay" class="text-danger"></span>

                @await Html.PartialAsync("~/Views/Shared/_dateStartEnd.cshtml")



                <label class="control-label">
                    <input type="checkbox" data-toggle="collapse" data-target="#isRepeatmessage" id="chkrepeat" />  Do you want to repeat daily or weekly?
                </label>

                <div class="collapse" id="isRepeatmessage">
                    <div class="alert alert-info">Just add many days or how many weeks you want. Weekends will be skipped in the calculation</div>

                    <label class="control-label ">How many Days AFTER this event repeat?</label>

                    <input asp-for="Days" class="form-control" min="0" value="0" />
                    <span asp-validation-for="Days" class="text-danger"></span>

                    <label class="control-label">How many Weeks AFTER this event repeat?</label>

                    <input asp-for="Weeks" class="form-control" min="0" value="0" />

                    <span asp-validation-for="Weeks" class="text-danger"></span>


                </div>
            </div>

        </div>
        <input type="submit" value="Create your booking" class="btn btn-primary" />
    </form>


    <div class="col-md-8 ">
        <label class="control-label ">

            <input type="checkbox" data-toggle="collapse" data-target="#isRoomDiagrammessage" id="chkRoomDiagrammessage">  Show the room diagrams
        </label>


        <div class="collapse alert alert-info" id="isRoomDiagrammessage">
            @await Html.PartialAsync("~/Views/Shared/_carousel.cshtml")
        </div>

        <div id="calendarrefresh">
            @await Html.PartialAsync("~/Views/Shared/_calendar.cshtml")
            <script src="~/lib/qtip2/dist/jquery.qtip.js"></script>
            @*<script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>*@
        </div>
    </div>
</div>
<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section scripts
    {
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script>


    $(document).ready(function () {
        $(".DTStart").datetimepicker({
            format: 'DD-MM-YYYY HH:mm',
            inline: true,
            sideBySide: true,
            toolbarPlacement: 'bottom',
            showClose: true
        });
    });

    $(document).ready(function () {

        //http://eonasdan.github.io/bootstrap-datetimepicker/


        $(".DTEnd").datetimepicker({
            format: 'DD-MM-YYYY HH:mm',
            inline: true,
            sideBySide: true,
            toolbarPlacement: 'bottom',
            showClose: true

        });
    });

    @* Must run this last so the focus returns to the Title *@
    $(document).ready(function () {
        document.getElementById("Title").focus();
    });


    @* https://stackoverflow.com/questions/11122268/updating-partial-view-with-jquery-in-asp-net-mvc-c-sharp *@

    </script>
}


