@using System.Collections
@model Events
@*https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp
    }*@
<h2>Create a New Event  -   @ViewBag.TodayDate     </h2>
<form asp-action="Create" class="form-horizontal">
    <div class="row">
        <div class="col-md-4 col-Margins">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" id="Title" class=" form-control" autofocus />

                <span asp-validation-for="Title" class="text-danger"></span>
                <label class="control-label">Tick if its for a Full Day</label>

                <input type="checkbox" data-toggle="collapse" data-target="#isfulldaymessage" asp-for="IsFullDay" class="form-control checkbox-inline" id="chkFullDay" />

                <div class="alert alert-info  collapse" id="isfulldaymessage">Just add the date fields. The times will be generated from 9-5pm.</div>

                <span asp-validation-for="IsFullDay" class="text-danger"></span>

                @await Html.PartialAsync("~/Views/Shared/_dateStartEnd.cshtml")

                <label class="control-label">Choose Your Room</label>
                <select asp-for="ResourceId" asp-items="ViewBag.Roomlist" class="form-control">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="ResourceId" class="text-danger"></span>

                <label class="control-label">Do you want it to repeat daily or weekly?</label>

                <input type="checkbox" data-toggle="collapse" data-target="#isRepeatmessage" class="form-control" id="chkrepeat" />

                <div class="collapse" id="isRepeatmessage">
                    <div class="alert alert-info">Just add many days or how many weeks you want. Weekends will be skipped in the calculation</div>

                    <label class="control-label ">How many Days repeat?</label>

                    <input asp-for="Days" class="form-control" min="0" value="0" />
                    <span asp-validation-for="Days" class="text-danger"></span>

                    <label class="control-label">How many Weeks repeat?</label>

                    <input asp-for="Weeks" class="form-control" min="0" value="0" />

                    <span asp-validation-for="Weeks" class="text-danger"></span>

                    <input type="submit" value="Create your booking" class="btn btn-primary" />
                </div>
            </div>
        </div>
</form>


<div class="col-md-8 col-Margins">
    <label class="control-label ">
        Show the room diagrams
        <input type="checkbox" data-toggle="collapse" data-target="#isRoomDiagrammessage" class="form-control" id="chkRoomDiagrammessage" />
    </label>


    <div class="collapse alert alert-info" id="isRoomDiagrammessage">
        @await Html.PartialAsync("~/Views/Shared/_carousel.cshtml")
    </div>

    <div class="schedular" id="calendarrefresh">
        @await Html.PartialAsync("~/Views/Shared/_calendar.cshtml")
    </div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@*<div id="calendar"></div>

    <script src="~/js/SchedularCustom.js"></script>
    <link href="~/css/SchedularCustom.css" rel="stylesheet" />*@



@*<link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />*@
@section scripts
    {
    <script>
    @*<script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>



            $(document).ready(function () {
                $(".DTStart").datetimepicker({
                    format: 'DD-MM-YYYY HH:mm',
                    inline: true,
                    sideBySide: true,
                    toolbarPlacement: 'bottom',
                    showClose: true

                });
            });

            $(document).ready(function () {

                //http://eonasdan.github.io/bootstrap-datetimepicker/


                $(".DTEnd").datetimepicker({
                    format: 'DD-MM-YYYY HH:mm',
                    inline: true,
                    sideBySide: true,
                    toolbarPlacement: 'bottom',
                    showClose: true

                });
            });
            //holy crap it works
                $(function () {
                    $('.DTStart').datetimepicker();
                    $('.DTEnd').datetimepicker({
                    useCurrent: false //Important! See issue #1075
                        });
                    $(".DTStart").on("dp.change", function (e) {
                        $('.DTEnd').data("DateTimePicker").minDate(e.date);
                });
                    $("#DTEnd").on("dp.change", function (e) {
                        $('.DTEnd').data("DateTimePicker").maxDate(e.date);
                });
                    });*@




    @*     Must run this last so the focus returns to the Title *@
    @*$(document).ready(function() {
    document.getElementById("Title").focus();
    });*@
    @*  https://stackoverflow.com/questions/11122268/updating-partial-view-with-jquery-in-asp-net-mvc-c-sharp *@

    </script>
    <script type="text/javascript">
    $(function() {

        $('#DTStart').change(function() {
                alert("function running.");


                $("#calendarrefresh").load(' @await Html.PartialAsync("~/Views/Shared/_calendar.cshtml")');


                @*        });
        alert( "Load was performed." );
        });*@


    </script>

    @*
        <script type="text/javascript">
                        $(document).ready(function () {
                            $("#chkFullDay").on("click", function () {
                                if (document.getElementById('chkFullDay').checked) {

                                    $("#isfulldaymessage").show();

                                } else {

                                    $("#isfulldaymessage").hide();

                                }
                            });
                        });
        </script>*@




}
