@{
    ViewData["Title"] = "Room Booking";
    @*<h1>Room Booking </h1>*@
}
@*<div id="calendar"></div>
    <script src="~/js/SchedularCustom.js"></script>
    <link href="~/css/SchedularCustom.css" rel="stylesheet" />*@
<div class="schedular">
    @await Html.PartialAsync("~/Views/Shared/_calendar.cshtml")
</div>